<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>출석지킴이</title>
  <!-- Custom fonts for this template-->
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../static/js/demo/datatables-demo.js"></script>
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.css" rel="stylesheet">
</head>
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-0">
          <img src="../static/img/withelogo.png" alt="..." style="width:60px; ">
        </div>
        <div class="sidebar-brand-text mx-3">출석지킴이</div>
      </a>
      <!-- Divider -->
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        Attendance Manage
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>수강 강의 조회</span>
        </a>
        <script>
            $(function(){
              $.ajax({
                url:"http://192.168.88.140:5000/tuteeLectureList",
                dataType:"json",
                method:'POST',
                success : function(json){
			               var json_length=Object.keys(json["data"]).length;
			                  for(var i=0; i < json_length; i++){
				                      var addA= document.createElement('a');
				                       addA.className = 'collapse-item'
                  		         addA.href = `http://192.168.88.140:5000/tuteeLectureList?class_id=${json["data"][i]['class_id']}`
					                     addA.innerText = `${json["data"][i]['class_name']}`
				                       $(".start").after(addA);
                               html('<input type="hidden" name="class_id" value=""'+json["data"][i]['class_id']+'"></input>"');
			                   }
                         localStorage.setItem('lect_id',`${json["data"][0]['class_id']}`);
                       }
                     });
                   })
            </script>
            <script>
              $(function(){
                  $('.collapse-item').on('click','a',function(){
                    localStorage.setItem('lect_id',$('.class_id').val());
                  })
              });
            </script>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
          </div>
        </div>
      </li>
      <!-- Nav Item - Utilities Collapse Menu -->

      <!-- Nav Item - Charts -->
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" id="Class_Name" style="margin-top:25px;"></h1>
          </div>
          <script>
            $(function(){
              var lect_id = localStorage.getItem('lect_id');
              $.ajax({
                url:'http://localhost:5000/tuteeLectureList',
                method:'POST',
                dataType:'json',
                async:false,
                data:{
                  class_id : lect_id
                }
              })
              .done(function(json){
                $('#Class_Name').after(`${json["data"][0]['class_name']}`)
              })
            })
          </script>
          <!-- Sidebar Toggle (Topbar) -->

          <!-- Topbar Search -->
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>
            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id=user>빛승명</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <!-- Content Row -->
          <div class="row">
            <!-- Area Chart -->
            <div class="col-lg-11 mb-4" style="margin-left:70px;">
              <div class="card shadow mb-4">
                <div class="card-header py-4">
                  <h6 class="m-0 font-weight-bold text-primary">출석현황 리스트</h6>
                </div>
                <div class="table-responsive" style="margin-left:15px; padding:10px 10px 10px 10px;">
                  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4" style="width:95%;margin-left:22px;">
                    <table class="student_list"id="dataTable" width="100%" cellspacing="0">
                      <thead>
                      <th scope="row">날짜</th>
                      <th scope="row">시간</th>
                      <th scope="row">출석 현황</th>
                      <th scope="row">출석 결과</th>
                    </thead>
                    <script>
                    var lect_id = localStorage.getItem('lect_id');
                    $('#dataTable').DataTable( {
                     ajax: {
                        url: '/tuteeLectureAttendance',
                        dataSrc: 'data',
                        data : {class_id : lect_id}
                          },
                          columns: [{data:'date'},
                                  {data:'class_time'},
                                  {data:'engagement'},
                                  {data:'status'}
                                ]
                      });
                    </script>
                      </table>
                  </div>

                </div>
              </div>
            </div>
            <!-- Pie Chart -->
          <!-- Content Row -->
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Team The 출석지킴이™</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->


</body>

</html>
